body {
  background-color: rgba(173, 171, 171, 0.411);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 850px;
  height: 500px;
  margin: 0 auto;
  padding: 50px;
}

.calculator__block,
.log__block {
  flex-basis: 45%;
  padding: 50px;
  color: white;
  background-color: black;
  border-radius: 10px;
}

.calculator__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
}

.log__block {
  overflow: auto;
}

.calculator__input {
  display: block;
  padding: 20px 10px;
  font-size: 20px;
  color: white;
  background-color: black;
  border: 2px solid rgba(75, 74, 74, 0.685);
  border-radius: 5px;
}

.calculator__elements-list {
  display: flex;
  flex-wrap: wrap;
}

.calculator__elements-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 60px) / 4);
  height: 60px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  background-color: rgba(75, 74, 74, 0.356);
  border-radius: 10px;
  cursor: pointer;
}

.calculator__elements-item:nth-child(4n + 4) {
  margin-right: 0;
}

.calculator__elements-item:nth-child(n + 13) {
  margin-bottom: 0;
}

.operations__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.operations__item-circle {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.redBorder {
  border-color: red;
}

.redCircle {
  background-color: red;
  border-color: red;
}

.operations__item-text {
  font-size: 24px;
}

.operations__item-cross {
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.operations__item-cross:before,
.operations__item-cross:after {
  position: absolute;
  left: 7.5px;
  content: "";
  height: 15px;
  width: 2px;
  background-color: white;
}

.operations__item-cross.redCross:before,
.operations__item-cross.redCross:after {
  background-color: red;
}

.operations__item-cross:before {
  transform: rotate(45deg);
}

.operations__item-cross:after {
  transform: rotate(-45deg);
}
